   <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>myspace||sign in</title>
    <style type="text/css">
      body{
        padding: 0px;
        margin: 0px;
        background-color: black;
        color: white;
      }
      .gtd{
         margin-top: 40px;
        height: 80%;
        width: 80%;
      }
      .hea{
        font-size:40px;
        text-align: center;
        font-weight: bold;
       
        color: gray;         
         
      }
      .btn_sign{
      background-color:black;
        border: 1px solid white;
        color:white;
        border-radius: 0px;
        padding: 5px 30px;
        text-decoration: none;
      }
      .btn_sign:hover{
      background-color:whitesmoke;
        color:black;
        border: 1px solid white;      
        text-decoration: none;
      }
      .updateimg{
        height: 90%;
        width: 90%;
      }
      .alert_col{
        color: black;
        background-color: white;
        border-bottom: 1px solid white;
        border-top: 1px solid black;
      }
    </style>
    </head>
  <body>

    <div id="al" class="alert  alert-dismissible alert_col">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Entered Email is not registerd!</strong><br><br>
    <a class="btn_sign" href="/login">Login/Forgot Password</a>
  </div>


    
    <div class="container-fluid"  >
        <div class="row">       
           <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 " >
             <img class="gtd" src="/login.svg">
           </div>
           <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 " >
                <form  action="/password/forgot/newpassword" method="POST">

                  <br><br>
                  <h1 class="h1  hea">FOR GOT PASSWORD ?</h1>
                     
                    <div class="form-group">
                      <label>EMAIL</label>
                      <input class="form-control" placeholder="Enter Email"  type="email" name="email" required >
                    </div> 
                    <label style="font-size: 12px;color: gray;">Click GetLink to get your password |Check registered email for password </label><br>
                     <button type="submit" class="btn btn_sign">Get Link</button><br> 
                     <label style="font-size: 12px;color: gray;"> Register here </label><br>
                    <a href="/signup"  class="btn btn_sign">SIGN UP</a>
                </form>
           </div>
        </div>
    </div>
    <br>
    <br>



     

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>