   <!DOCTYPE html>
<html lang="en">
<head>
	<title>todoApp:login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
      body{
        background-color: black;
        color: white;
      }
     
       .btn_sign{
      background-color:black;
        border: 1px solid white;
        color:white;
        border-radius: 0px;
        /*padding: 5px 30px;*/
        width: 100px;
        text-decoration: none;
      }
      .btn_sign:hover{
        background-color:whitesmoke;
        color:black;
        border: 1px solid white;      
        text-decoration: none;
      }
       .btn_sign1{
      background-color:black;
        border: 1px solid white;
        color:white;
        border-radius: 0px;
        /*padding: 5px 30px;*/
        width: 100px;
        height: 80px;
        text-decoration: none;
      }
      .btn_sign1:hover{
        background-color:whitesmoke;
        color:black;
        border: 1px solid white;      
        text-decoration: none;
      }
       .btn_sign11{
      background-color:white;
        border: 1px solid white;
        color:black;
        border-radius: 0px;
        /*padding: 5px 30px;*/
        width: 100px;
        height: 80px;
        text-decoration: none;
      }
      .btn_sign11:hover{
        background-color:black;
        color:white;
        border: 1px solid white;      
        text-decoration: none;
      }
      .alert_col{
        color: black;
        background-color: white;
        border-bottom: 1px solid white;
        border-top: 1px solid black;
      }
      .updateimg{
        height: 90%;
        width: 90%;
      }

    	 
    </style>   
</head>
<body >
    
 <% if(success!=''){ %>
   <div id="al" class="alert  alert-dismissible alert_col">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> <%= success %>!</strong>
  </div>
  <%} %> 
   <br><br><br><br>

  <div class="container-fluid"  >
        <div class="row">       
             <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 " >
               <a href="/dashboard" class="btn  btn_sign">Dashboard</a>
              <a href="/add/task" class="btn  btn_sign1">New Task</a><br>
              <a href="/add/task/completed" class="btn btn_sign1 ">Completed Tasks</a><br>
              <a href="/all/task/update" class="btn btn_sign11 ">Update Tasks</a><br>
              <a href="/see/task/all" class="btn btn_sign1 ">All task</a><br>
               <a href="/see/task/all" class="btn btn_sign1 ">Search Task</a><br>
              <a href="/logout" class="btn btn_sign1 ">Logout</a>
             </div>
       
             
             <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 " >
              <h1>Update Task</h1> 
              <span>Note: Use the ID  to update task</span><br>
             

    
              <select id="updateTask" name="updateTask"  >  
                  <option value="title" >Title</option>
                  <option value="content" >Content</option>
                  <option value="completedDate" >Completed Date</option>
                  <option  value="isDone" >Status</option>
              </select> 
              <button onclick="myFunction()" class="btn_sign">Select</button>
             
                <br> <br>
  
               <h2>ENTER DATA</h2><br>
                 <form id="parentDiv" method="POST" action="/post/all/taskUpdate">
                  
                    <input   type="submit" class="btnRegister btn_sign"  value="Update"/><br><br>
                    <input id="typeData" type="text" name="typeData"  placeholder="dont write here"  readonly=""><br>
                    <label>ID: </label><br>
                     <input type="number"  placeholder="Enter ID *" name="id" value="" required="" /><br>
                    <label>Enter update </label> <br> 
                 </form>
             </div>

               <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8" >
                 <img class="updateimg" src="/updateside.svg" >
               </div>

        </div>
  </div>

 


 
 

 

 

 

 
 

 

 

 
   

 

<script>
var count=0;
var idd='';

  function myFunction() {
   var typeData = document.getElementById('typeData');
   if(count!=0){
	var deleteElement = document.getElementById(idd);	 
	deleteElement.remove();
	count=0;

    }
  	
  	var updateTask = document.getElementById("updateTask"); 
  	
  	    if(updateTask.value=='title' && count==0){
	       var input = document.createElement("input");
             input.type = "text";
             input.className = "title";
             input.name = "title";
             input.id = "title";
             typeData.value="title"
             idd="title"
             input.placeholder = "Enter Title";
             var parent = document.getElementById("parentDiv");
             parent.appendChild(input);
             
              
            
        }else if(updateTask.value=='content' && count==0){
        	var input = document.createElement("textarea");
             input.type = "text";
             input.className = "content";
             input.name = "content";
             input.id = "content";
             typeData.value="content"
             idd = "content";
             input.placeholder = "Enter Content";
             var parent = document.getElementById("parentDiv");
             parent.appendChild(input);
              
             
              
        }else if(updateTask.value=='completedDate'  && count==0){
        	 var input = document.createElement("input");
             input.type = "date";
             input.className = "completedDate";
             input.name = "completedDate";
             input.id= "completedDate";
             idd= "completedDate";
             typeData.value="completedDate"
             input.placeholder = "Enter Date";
             var parent = document.getElementById("parentDiv");
             parent.appendChild(input);
              
             
          
        }else if(updateTask.value=='isDone'  && count==0){
        	 var input = document.createElement("input");
             input.type = "text";
             input.className = "isDone";
             input.name = "isDone";
             typeData.value="isDone"
             input.id= "isDone";
             idd= "isDone";
             input.placeholder = "Enter done/pending";
             var parent = document.getElementById("parentDiv");
             parent.appendChild(input);
             
              
             
        } 
        count++;
            
    
  }
 </script>


 





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>